[Unit]
Description=Apache Tomcat Web Application Container
After=network.target

[Service]
Type=forking
Environment=JAVA_HOME={{ java_home }}
Environment=CATALINA_PID={{ catalina_pid }}
Environment=CATALINA_HOME={{ catalina_home }}
Environment=CATALINA_BASE={{ catalina_base }}
Environment='CATALINA_OPTS={{ catalina_opts }}'
Environment='JAVA_OPTS={{ java_opts }}'
ExecStart={{ catalina_home }}/bin/startup.sh
ExecStop={{ catalina_home }}/bin/shutdown.sh
User={{ tomcat_user }}
Group={{ tomcat_group }}
UMask=0007
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
